body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
    overflow: hidden;
    min-width: 1800px;
    height: 100vh;
    margin: auto;
}

.uls2 {
    position: absolute;
    list-style: none;
}

.lis2 {
    margin-bottom: 3px;
    font-size: 45px;
    animation: clignote 3.2s infinite;
    color: rgb(110, 20, 20);

}

.gastro {
    position: absolute;
    left:15%;
    top:15%;
    font-size: 25px;
    animation: clignote 3.2s infinite;
}

@keyframes clignote {
    0%,20%{
        opacity: 0;
    }
    20%,60%{
        opacity: 1;
    }
    61%,80%{
        opacity: 0;
    }
    81%,100%{
        opacity: 1;
    }
}

.lien {
    position:absolute;
    font-size: 80px;
    margin-top: 400px;
    margin-left: 100px;

}
.block {
    width: 50%;
    height: auto;
    position: relative;
    transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
}

.block img{
    width: 40%;
    height: auto;
}

.b1 {
    left:22%;
    bottom: -10%;
}

.b2 {
    left: 10%;
    bottom: 15%;
}

.b3 {
    left: 30%;
    bottom: 55%;
}